<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>数量比例饼状图</title>
    <link rel="canonical" href="https://v4.bootcss.com/docs/examples/dashboard/">
    <link href="/css/dashboard.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/feather.min.js"></script>
    <script src="/js/vintage.js"></script>
    <script src="/js/result_table.js"></script>
    <script src="/js/roma.js"></script>
    <script src="/js/checkParam.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">月坛南街公共空间数据分析系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">
                            <span data-feather="home"></span>
                            首页 <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index/line">
                            <span data-feather="file"></span>
                            时间数量
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index/line-bar">
                            <span data-feather="file"></span>
                            时间数量（柱状图）
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/index/pie">
                            <span data-feather="shopping-cart"></span>
                            数量比例
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index/bar">
                            <span data-feather="users"></span>
                            周中周末数量对比
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">数量比例-饼状图</h1>
                <div id="form-div">
                    <form id="form1" onsubmit="return false" action="##" method="get">
                        <label for="txtLoc">地  点: </label>
                        <input name="loc" type="text" id="txtLoc" tabindex="1" size="14" value="" list="locationList"/>
                        <datalist id="locationList">
                            <option th:each="location: ${locations}" th:text="${location.name}" th:value="${location.name}"></option>
                        </datalist>
                        <label for="txtDir">方  向: </label>
                        <input name="dir" type="text" id="txtDir" tabindex="2" size="8" value="" list="directionList"/>
                        <datalist id="directionList">
                            <option th:each="direction: ${directions}" th:text="${direction.name}" th:value="${direction.name}"></option>
                        </datalist>
                        <label for="txtTim">时  间: </label>
                        <input name="tim" type="text" id="txtTim" tabindex="3" size="6" value="" list="timeList"/>
                        <datalist id="timeList">
                            <option>周中</option>
                            <option>周末</option>
                            <option>未确定</option>
                        </datalist>
                        <label for="txtStart">开始时间: </label>
                        <input name="start" type="text" id="txtStart" tabindex="4" size="6" value=""/>
                        <label for="txtEnd">终止时间: </label>
                        <input name="end" type="text" id="txtEnd" tabindex="5" size="6" value=""/>
                        <input type="button" value="查询" onclick="query()">&nbsp;
                        <input type="reset" value="重置">
                    </form>
                </div>
            </div>

            <div id="main" style="width: 750px;height:500px;"></div>
            <h2>查询结果列表</h2>
        </main>
    </div>
</div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'),'roma');
    var option = {
        title: {
            text: '',
            subtext: '',
            left: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        toolbox: {
            show: true,
            orient: 'vertical',
            left: 'right',
            top: 'center',
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                saveAsImage: {show: true}
            }
        },
        legend: {
            orient: 'vertical',
            left: 'right',
            data: ['人', '自行车', '汽车', '电动车']
        },
        series: [
            {
                name: '人车分布',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [],
                label: {
                    show: true
                },
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

    function query() {
        if ( checkLoc()!=false &&checkTime()!=false &&checkStart()!=false &&checkEnd()!= false) {
            queryPieData();
        }

    }

    function queryPieData(){
        myChart.showLoading();
        $.ajax({
            //几个参数需要注意一下
            type: "GET",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/pie/getPieData" ,//url
            async : true ,
            data: $('#form1').serialize(),
            success: function (results) {
                $("table").remove();
                if (results.errMsg!="Success") {
                    alert("查询失败，请联系管理员！");
                    myChart.hideLoading();
                    return;
                }
                myChart.hideLoading();
                if (form1.dir.value ==""){
                    showTableWithDir(results.resList);
                } else {
                    showTable(results.resList);
                }
                var title = getTitle();
                var subtitle = getSubtitle();
                myChart.setOption({        //加载数据图表
                    title: {
                        text: title,
                        subtext: subtitle,
                        left: 'center'
                    },
                    series: {
                        data:results.amountList
                    }
                });
            },
            error : function(XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
                alert("失败啦！");
            }
        });

    }

    function getTitle() {
        var form = document.getElementById('form1');
        var inputs = form.getElementsByTagName("input");
        var string = "";
        for (var i = 0; i < 3; i++) {
            // console.log(inputs[i].value);
            if((inputs[i].value !="无") && (inputs[i].value !="未确定")){
                string += inputs[i].value + " ";
            }
        }
        string +="数量比例"
        return string;
    }

    function getSubtitle() {
        var form = document.getElementById('form1');
        var inputs = form.getElementsByTagName("input");
        var string = inputs[3].value +"：00 - " +inputs[4].value + "：00" ;
        return string;
    }
    myChart.setOption(option);
</script>

</body>
</html>